FXMindNET/FXBusinessLogic/Web References/ZuluTrade/Performance.wsdl

<?xml version="1.0" encoding="utf-8"?>

<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="ZuluTrade.WebServices"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="ZuluTrade.WebServices"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="ZuluTrade.WebServices">
      <s:element name="SearchProviders">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="searchFilter" type="tns:ProviderSearchFilter" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ProviderSearchFilter">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SortExpression" type="tns:ProviderSortExpression" />
          <s:element minOccurs="1" maxOccurs="1" name="SortDirection" type="tns:SortDirection" />
          <s:element minOccurs="1" maxOccurs="1" name="Page" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PageSize" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ProviderName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CountryCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AffiliateId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ProviderIds" type="tns:ArrayOfInt" />
          <s:element minOccurs="1" maxOccurs="1" name="TimeFrame" type="tns:TimeFrame" />
          <s:element minOccurs="1" maxOccurs="1" name="IsLive" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="WinningTrades" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="TradingWeeks" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Top100" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ApprovedPhoto" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="RecentTrading" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Rated" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="LiveFollowers" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="EconomicEvents" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="HasVideos" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsBookmarked" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="NotTradingExotics" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsVeteran" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="PipsFrom" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PipsTo" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TradesFrom" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TradesTo" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AvgPipsFrom" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="AvgPipsTo" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="WinningTradesFrom" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="WinningTradesTo" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="WeeksFrom" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="WeeksTo" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaxDDFrom" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="MaxDDTo" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="MaxDDPipsFrom" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaxDDPipsTo" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CorrelationFrom" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CorrelationTo" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MinAmountFollowing" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="FollowersFrom" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FollowersTo" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaxOpenTradesFrom" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaxOpenTradesTo" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TimeFrameMaxOpenTrades" type="tns:TimeFrame" />
          <s:element minOccurs="1" maxOccurs="1" name="LowestPipValueFrom" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LowestPipValueTo" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BestTradeFrom" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="BestTradeTo" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="AvgTradeTimeFrom" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AvgTradeTimeTo" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AverageSlippageFrom" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="AverageSlippageTo" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ProfitableAccount" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Relation" nillable="true" type="tns:ProviderSearchRelation" />
          <s:element minOccurs="0" maxOccurs="1" name="CurrencyPairs" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ProviderSortExpression">
        <s:restriction base="s:string">
          <s:enumeration value="Ranking" />
          <s:enumeration value="ProviderName" />
          <s:enumeration value="ProfitPips" />
          <s:enumeration value="Trades" />
          <s:enumeration value="AveragePipsPerTrade" />
          <s:enumeration value="WinningTradesPercent" />
          <s:enumeration value="AverageTradeSeconds" />
          <s:enumeration value="TradingWeeks" />
          <s:enumeration value="MaxDrawDownPercent" />
          <s:enumeration value="MaxOpenTrades" />
          <s:enumeration value="Followers" />
          <s:enumeration value="AmountFollowing" />
          <s:enumeration value="Rating" />
          <s:enumeration value="ROI" />
          <s:enumeration value="ROR" />
          <s:enumeration value="WinningTradesPercentForWorstProviders" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="SortDirection">
        <s:restriction base="s:string">
          <s:enumeration value="Ascending" />
          <s:enumeration value="Descending" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="TimeFrame">
        <s:restriction base="s:string">
          <s:enumeration value="OneDay" />
          <s:enumeration value="ThreeDays" />
          <s:enumeration value="SevenDays" />
          <s:enumeration value="OneMonth" />
          <s:enumeration value="ThreeMonths" />
          <s:enumeration value="SixMonths" />
          <s:enumeration value="OneYear" />
          <s:enumeration value="All" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="ProviderSearchRelation">
        <s:restriction base="s:string">
          <s:enumeration value="MoreThan" />
          <s:enumeration value="LessThan" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SearchProvidersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchProvidersResult" type="tns:ArrayOfP" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfP">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="P" nillable="true" type="tns:P" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="P">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="bid" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="n" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="n2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cn" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="br" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="brn" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="e" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="l" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="r" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="f" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="b" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="c" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ar" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ra" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="pp" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="t" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ap" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="w" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="at" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="tw" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="dc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dp" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="fo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="la" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="lo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="s" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="mot" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="af" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="cp" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="nme" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="bt" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="wt" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="awt" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="roi" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ror" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="gd" type="tns:ArrayOfDouble" />
          <s:element minOccurs="0" maxOccurs="1" name="gc" type="tns:ArrayOfString" />
          <s:element minOccurs="1" maxOccurs="1" name="iv" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDouble">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="double" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="SearchProvidersWithFollowingFirst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="searchFilter" type="tns:ProviderSearchFilter" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchProvidersWithFollowingFirstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchProvidersWithFollowingFirstResult" type="tns:ArrayOfP" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProviderStrategy">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="providerId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProviderStrategyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProviderStrategyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSuggestProvidersBody">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="providerIds" type="tns:ArrayOfInt" />
            <s:element minOccurs="0" maxOccurs="1" name="userComment" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSuggestProvidersBodyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSuggestProvidersBodyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SuggestProviders">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="providerIds" type="tns:ArrayOfInt" />
            <s:element minOccurs="0" maxOccurs="1" name="recipients" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userComment" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SuggestProvidersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SuggestProvidersResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProviderTrades">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="providerId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="currencyIds" type="tns:ArrayOfInt" />
            <s:element minOccurs="0" maxOccurs="1" name="fromDateStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="toDateStr" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="validTrades" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="lotSize" type="tns:LotSize" />
            <s:element minOccurs="1" maxOccurs="1" name="start" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="length" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sortBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sortAscending" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="LotSize">
        <s:restriction base="s:string">
          <s:enumeration value="Micro" />
          <s:enumeration value="Mini" />
          <s:enumeration value="Standard" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetProviderTradesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProviderTradesResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFollowerTrades">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="traderId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="providerIds" type="tns:ArrayOfInt" />
            <s:element minOccurs="0" maxOccurs="1" name="currencyIds" type="tns:ArrayOfInt" />
            <s:element minOccurs="0" maxOccurs="1" name="fromDateStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="toDateStr" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="showPnl" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="lotSize" type="tns:LotSize" />
            <s:element minOccurs="1" maxOccurs="1" name="start" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="length" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sortBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sortAscending" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFollowerTradesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFollowerTradesResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProviderStaticticsByCountry">
        <s:complexType />
      </s:element>
      <s:complexType name="Pc">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="cc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cn" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="lat" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="lng" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="pc" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="fc" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="lfc" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="minr" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="maxr" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPC">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Pc" nillable="true" type="tns:Pc" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetProviderStaticticsByCountryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProviderStaticticsByCountryResult" type="tns:ArrayOfPC" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProviderLiveFollowers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="providerId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="start" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="length" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sortBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sortAscending" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProviderLiveFollowersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProviderLiveFollowersResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTradeEvents">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="tradeId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="E">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="t" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="i" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="d" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="c" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="p" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="f" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="a" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="da" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ar" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="E" nillable="true" type="tns:E" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetTradeEventsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTradeEventsResult" type="tns:ArrayOfE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CompareProviderVsFollower">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="providerId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="traderId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="totalProfit" nillable="true" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="includeDetails" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CompareProviderVsFollowerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CompareProviderVsFollowerResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProviderOpenTrades">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="providerId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="includePending" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="delay" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Pot">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="pt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="bt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cn" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="buy" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="lo" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="e" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="s" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="lt" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="do" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="c" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="pp" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="p" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPot">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Pot" nillable="true" type="tns:Pot" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetProviderOpenTradesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProviderOpenTradesResult" type="tns:ArrayOfPot" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchFollowers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="searchFilter" type="tns:FollowerSearchFilter" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FollowerSearchFilter">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SortExpression" type="tns:FollowerSortExpression" />
          <s:element minOccurs="1" maxOccurs="1" name="SortDirection" type="tns:SortDirection" />
          <s:element minOccurs="1" maxOccurs="1" name="Page" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PageSize" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FollowerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BrokerID" type="tns:ArrayOfInt" />
          <s:element minOccurs="0" maxOccurs="1" name="BaseCurrencyID" type="tns:ArrayOfInt" />
          <s:element minOccurs="1" maxOccurs="1" name="BalanceRangeFrom" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BalanceRangeTo" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="FollowerSortExpression">
        <s:restriction base="s:string">
          <s:enumeration value="Ranking" />
          <s:enumeration value="ProfitPips" />
          <s:enumeration value="Trades" />
          <s:enumeration value="AveragePipsPerTrade" />
          <s:enumeration value="WinningTradesPercent" />
          <s:enumeration value="AverageTradeSeconds" />
          <s:enumeration value="TradingWeeks" />
          <s:enumeration value="LowestProfitPips" />
          <s:enumeration value="HighestProfitPips" />
          <s:enumeration value="BalanceInUsd" />
          <s:enumeration value="BrokerID" />
          <s:enumeration value="ROI" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="F">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="n" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cn" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="br" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="brn" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pp" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ppr" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="t" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ap" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="w" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="at" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="tw" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="lp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="hp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ds" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="d" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ra" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="sc" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="anr" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="pe" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="pl" type="tns:ArrayOfString" />
          <s:element minOccurs="1" maxOccurs="1" name="blr" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="gd" type="tns:ArrayOfDouble" />
          <s:element minOccurs="0" maxOccurs="1" name="gc" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="pr" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="prr" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfF">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="F" nillable="true" type="tns:F" />
        </s:sequence>
      </s:complexType>
      <s:element name="SearchFollowersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchFollowersResult" type="tns:ArrayOfF" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBrokerAccountSettings">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sourceBrokerAccountId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BAS">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="bid" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="psCol" type="tns:ArrayOfPS" />
          <s:element minOccurs="1" maxOccurs="1" name="autoTradeEnabled" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PS" nillable="true" type="tns:PS" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PS">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="lt" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="mltpc" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="slp" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="zg" type="tns:ZGTS" />
          <s:element minOccurs="1" maxOccurs="1" name="rw" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="nme" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="en" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="pid" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="mtl" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="mtt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="sLots" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="mtpc" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="rev" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="lim" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="limSafe" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="stop" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="safe" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="sle" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="bacs" type="tns:ArrayOfBacs" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ZGTS">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="bid" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="pid" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="m" type="tns:ZGS" />
          <s:element minOccurs="0" maxOccurs="1" name="s" type="tns:ZGS" />
          <s:element minOccurs="0" maxOccurs="1" name="mot" type="tns:ZGS" />
          <s:element minOccurs="1" maxOccurs="1" name="a" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ZGS">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="u" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="bid" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="pid" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="m" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="v" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="s" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="e" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfBacs">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Bacs" nillable="true" type="tns:Bacs" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Bacs">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="cid" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="lt" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="mlt" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="mt" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="rv" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="lm" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="st" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="sst" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetBrokerAccountSettingsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBrokerAccountSettingsResult" type="tns:BAS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MergeSettings">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sourceBrokerAccountId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="keepTargetSettings" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="customProviderSettingsColl" type="tns:ArrayOfPS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MergeSettingsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MergeSettingsResult" type="tns:CopySettingsResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="CopySettingsResult">
        <s:restriction base="s:string">
          <s:enumeration value="NotAuthenticated" />
          <s:enumeration value="Failed" />
          <s:enumeration value="Success" />
          <s:enumeration value="SettingsAlreadyExists" />
          <s:enumeration value="NotValidAccount" />
          <s:enumeration value="CannotTrade" />
          <s:enumeration value="NotValidLots" />
          <s:enumeration value="NotAllowedFxSolutions" />
          <s:enumeration value="ExceededMaxFollowingProviders" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SuggestFollower">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="brokerAccountId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SuggestFollowerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SuggestFollowerResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFollowerPortfolioProviders">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="brokerAccountId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFollowerPortfolioProvidersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFollowerPortfolioProvidersResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHtml">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHtmlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHtmlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SearchProvidersSoapIn">
    <wsdl:part name="parameters" element="tns:SearchProviders" />
  </wsdl:message>
  <wsdl:message name="SearchProvidersSoapOut">
    <wsdl:part name="parameters" element="tns:SearchProvidersResponse" />
  </wsdl:message>
  <wsdl:message name="SearchProvidersWithFollowingFirstSoapIn">
    <wsdl:part name="parameters" element="tns:SearchProvidersWithFollowingFirst" />
  </wsdl:message>
  <wsdl:message name="SearchProvidersWithFollowingFirstSoapOut">
    <wsdl:part name="parameters" element="tns:SearchProvidersWithFollowingFirstResponse" />
  </wsdl:message>
  <wsdl:message name="GetProviderStrategySoapIn">
    <wsdl:part name="parameters" element="tns:GetProviderStrategy" />
  </wsdl:message>
  <wsdl:message name="GetProviderStrategySoapOut">
    <wsdl:part name="parameters" element="tns:GetProviderStrategyResponse" />
  </wsdl:message>
  <wsdl:message name="GetSuggestProvidersBodySoapIn">
    <wsdl:part name="parameters" element="tns:GetSuggestProvidersBody" />
  </wsdl:message>
  <wsdl:message name="GetSuggestProvidersBodySoapOut">
    <wsdl:part name="parameters" element="tns:GetSuggestProvidersBodyResponse" />
  </wsdl:message>
  <wsdl:message name="SuggestProvidersSoapIn">
    <wsdl:part name="parameters" element="tns:SuggestProviders" />
  </wsdl:message>
  <wsdl:message name="SuggestProvidersSoapOut">
    <wsdl:part name="parameters" element="tns:SuggestProvidersResponse" />
  </wsdl:message>
  <wsdl:message name="GetProviderTradesSoapIn">
    <wsdl:part name="parameters" element="tns:GetProviderTrades" />
  </wsdl:message>
  <wsdl:message name="GetProviderTradesSoapOut">
    <wsdl:part name="parameters" element="tns:GetProviderTradesResponse" />
  </wsdl:message>
  <wsdl:message name="GetFollowerTradesSoapIn">
    <wsdl:part name="parameters" element="tns:GetFollowerTrades" />
  </wsdl:message>
  <wsdl:message name="GetFollowerTradesSoapOut">
    <wsdl:part name="parameters" element="tns:GetFollowerTradesResponse" />
  </wsdl:message>
  <wsdl:message name="GetProviderStaticticsByCountrySoapIn">
    <wsdl:part name="parameters" element="tns:GetProviderStaticticsByCountry" />
  </wsdl:message>
  <wsdl:message name="GetProviderStaticticsByCountrySoapOut">
    <wsdl:part name="parameters" element="tns:GetProviderStaticticsByCountryResponse" />
  </wsdl:message>
  <wsdl:message name="GetProviderLiveFollowersSoapIn">
    <wsdl:part name="parameters" element="tns:GetProviderLiveFollowers" />
  </wsdl:message>
  <wsdl:message name="GetProviderLiveFollowersSoapOut">
    <wsdl:part name="parameters" element="tns:GetProviderLiveFollowersResponse" />
  </wsdl:message>
  <wsdl:message name="GetTradeEventsSoapIn">
    <wsdl:part name="parameters" element="tns:GetTradeEvents" />
  </wsdl:message>
  <wsdl:message name="GetTradeEventsSoapOut">
    <wsdl:part name="parameters" element="tns:GetTradeEventsResponse" />
  </wsdl:message>
  <wsdl:message name="CompareProviderVsFollowerSoapIn">
    <wsdl:part name="parameters" element="tns:CompareProviderVsFollower" />
  </wsdl:message>
  <wsdl:message name="CompareProviderVsFollowerSoapOut">
    <wsdl:part name="parameters" element="tns:CompareProviderVsFollowerResponse" />
  </wsdl:message>
  <wsdl:message name="GetProviderOpenTradesSoapIn">
    <wsdl:part name="parameters" element="tns:GetProviderOpenTrades" />
  </wsdl:message>
  <wsdl:message name="GetProviderOpenTradesSoapOut">
    <wsdl:part name="parameters" element="tns:GetProviderOpenTradesResponse" />
  </wsdl:message>
  <wsdl:message name="SearchFollowersSoapIn">
    <wsdl:part name="parameters" element="tns:SearchFollowers" />
  </wsdl:message>
  <wsdl:message name="SearchFollowersSoapOut">
    <wsdl:part name="parameters" element="tns:SearchFollowersResponse" />
  </wsdl:message>
  <wsdl:message name="GetBrokerAccountSettingsSoapIn">
    <wsdl:part name="parameters" element="tns:GetBrokerAccountSettings" />
  </wsdl:message>
  <wsdl:message name="GetBrokerAccountSettingsSoapOut">
    <wsdl:part name="parameters" element="tns:GetBrokerAccountSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="MergeSettingsSoapIn">
    <wsdl:part name="parameters" element="tns:MergeSettings" />
  </wsdl:message>
  <wsdl:message name="MergeSettingsSoapOut">
    <wsdl:part name="parameters" element="tns:MergeSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="SuggestFollowerSoapIn">
    <wsdl:part name="parameters" element="tns:SuggestFollower" />
  </wsdl:message>
  <wsdl:message name="SuggestFollowerSoapOut">
    <wsdl:part name="parameters" element="tns:SuggestFollowerResponse" />
  </wsdl:message>
  <wsdl:message name="GetFollowerPortfolioProvidersSoapIn">
    <wsdl:part name="parameters" element="tns:GetFollowerPortfolioProviders" />
  </wsdl:message>
  <wsdl:message name="GetFollowerPortfolioProvidersSoapOut">
    <wsdl:part name="parameters" element="tns:GetFollowerPortfolioProvidersResponse" />
  </wsdl:message>
  <wsdl:message name="GetHtmlSoapIn">
    <wsdl:part name="parameters" element="tns:GetHtml" />
  </wsdl:message>
  <wsdl:message name="GetHtmlSoapOut">
    <wsdl:part name="parameters" element="tns:GetHtmlResponse" />
  </wsdl:message>
  <wsdl:portType name="PerformanceWebServiceSoap">
    <wsdl:operation name="SearchProviders">
      <wsdl:input message="tns:SearchProvidersSoapIn" />
      <wsdl:output message="tns:SearchProvidersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchProvidersWithFollowingFirst">
      <wsdl:input message="tns:SearchProvidersWithFollowingFirstSoapIn" />
      <wsdl:output message="tns:SearchProvidersWithFollowingFirstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProviderStrategy">
      <wsdl:input message="tns:GetProviderStrategySoapIn" />
      <wsdl:output message="tns:GetProviderStrategySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSuggestProvidersBody">
      <wsdl:input message="tns:GetSuggestProvidersBodySoapIn" />
      <wsdl:output message="tns:GetSuggestProvidersBodySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SuggestProviders">
      <wsdl:input message="tns:SuggestProvidersSoapIn" />
      <wsdl:output message="tns:SuggestProvidersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProviderTrades">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get the trades of a signal provider</wsdl:documentation>
      <wsdl:input message="tns:GetProviderTradesSoapIn" />
      <wsdl:output message="tns:GetProviderTradesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFollowerTrades">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get the trades of a follower</wsdl:documentation>
      <wsdl:input message="tns:GetFollowerTradesSoapIn" />
      <wsdl:output message="tns:GetFollowerTradesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProviderStaticticsByCountry">
      <wsdl:input message="tns:GetProviderStaticticsByCountrySoapIn" />
      <wsdl:output message="tns:GetProviderStaticticsByCountrySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProviderLiveFollowers">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a list with the live followers of the specified signal provider.</wsdl:documentation>
      <wsdl:input message="tns:GetProviderLiveFollowersSoapIn" />
      <wsdl:output message="tns:GetProviderLiveFollowersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTradeEvents">
      <wsdl:input message="tns:GetTradeEventsSoapIn" />
      <wsdl:output message="tns:GetTradeEventsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CompareProviderVsFollower">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Compare the performances of a follower vs a signal provider</wsdl:documentation>
      <wsdl:input message="tns:CompareProviderVsFollowerSoapIn" />
      <wsdl:output message="tns:CompareProviderVsFollowerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProviderOpenTrades">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get the open trades of a signal provider with delay.</wsdl:documentation>
      <wsdl:input message="tns:GetProviderOpenTradesSoapIn" />
      <wsdl:output message="tns:GetProviderOpenTradesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchFollowers">
      <wsdl:input message="tns:SearchFollowersSoapIn" />
      <wsdl:output message="tns:SearchFollowersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBrokerAccountSettings">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get broker account's settings to copy from</wsdl:documentation>
      <wsdl:input message="tns:GetBrokerAccountSettingsSoapIn" />
      <wsdl:output message="tns:GetBrokerAccountSettingsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MergeSettings">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Merge settings between source and target broker account id taking into account custom values that user may have submitted</wsdl:documentation>
      <wsdl:input message="tns:MergeSettingsSoapIn" />
      <wsdl:output message="tns:MergeSettingsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SuggestFollower">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Suggest the specified broker account id to become Signal Provider</wsdl:documentation>
      <wsdl:input message="tns:SuggestFollowerSoapIn" />
      <wsdl:output message="tns:SuggestFollowerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFollowerPortfolioProviders">
      <wsdl:input message="tns:GetFollowerPortfolioProvidersSoapIn" />
      <wsdl:output message="tns:GetFollowerPortfolioProvidersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHtml">
      <wsdl:input message="tns:GetHtmlSoapIn" />
      <wsdl:output message="tns:GetHtmlSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PerformanceWebServiceSoap" type="tns:PerformanceWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchProviders">
      <soap:operation soapAction="ZuluTrade.WebServices/SearchProviders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchProvidersWithFollowingFirst">
      <soap:operation soapAction="ZuluTrade.WebServices/SearchProvidersWithFollowingFirst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProviderStrategy">
      <soap:operation soapAction="ZuluTrade.WebServices/GetProviderStrategy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSuggestProvidersBody">
      <soap:operation soapAction="ZuluTrade.WebServices/GetSuggestProvidersBody" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuggestProviders">
      <soap:operation soapAction="ZuluTrade.WebServices/SuggestProviders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProviderTrades">
      <soap:operation soapAction="ZuluTrade.WebServices/GetProviderTrades" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFollowerTrades">
      <soap:operation soapAction="ZuluTrade.WebServices/GetFollowerTrades" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProviderStaticticsByCountry">
      <soap:operation soapAction="ZuluTrade.WebServices/GetProviderStaticticsByCountry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProviderLiveFollowers">
      <soap:operation soapAction="ZuluTrade.WebServices/GetProviderLiveFollowers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTradeEvents">
      <soap:operation soapAction="ZuluTrade.WebServices/GetTradeEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompareProviderVsFollower">
      <soap:operation soapAction="ZuluTrade.WebServices/CompareProviderVsFollower" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProviderOpenTrades">
      <soap:operation soapAction="ZuluTrade.WebServices/GetProviderOpenTrades" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchFollowers">
      <soap:operation soapAction="ZuluTrade.WebServices/SearchFollowers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBrokerAccountSettings">
      <soap:operation soapAction="ZuluTrade.WebServices/GetBrokerAccountSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MergeSettings">
      <soap:operation soapAction="ZuluTrade.WebServices/MergeSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuggestFollower">
      <soap:operation soapAction="ZuluTrade.WebServices/SuggestFollower" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFollowerPortfolioProviders">
      <soap:operation soapAction="ZuluTrade.WebServices/GetFollowerPortfolioProviders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHtml">
      <soap:operation soapAction="ZuluTrade.WebServices/GetHtml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PerformanceWebServiceSoap12" type="tns:PerformanceWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchProviders">
      <soap12:operation soapAction="ZuluTrade.WebServices/SearchProviders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchProvidersWithFollowingFirst">
      <soap12:operation soapAction="ZuluTrade.WebServices/SearchProvidersWithFollowingFirst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProviderStrategy">
      <soap12:operation soapAction="ZuluTrade.WebServices/GetProviderStrategy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSuggestProvidersBody">
      <soap12:operation soapAction="ZuluTrade.WebServices/GetSuggestProvidersBody" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuggestProviders">
      <soap12:operation soapAction="ZuluTrade.WebServices/SuggestProviders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProviderTrades">
      <soap12:operation soapAction="ZuluTrade.WebServices/GetProviderTrades" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFollowerTrades">
      <soap12:operation soapAction="ZuluTrade.WebServices/GetFollowerTrades" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProviderStaticticsByCountry">
      <soap12:operation soapAction="ZuluTrade.WebServices/GetProviderStaticticsByCountry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProviderLiveFollowers">
      <soap12:operation soapAction="ZuluTrade.WebServices/GetProviderLiveFollowers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTradeEvents">
      <soap12:operation soapAction="ZuluTrade.WebServices/GetTradeEvents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompareProviderVsFollower">
      <soap12:operation soapAction="ZuluTrade.WebServices/CompareProviderVsFollower" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProviderOpenTrades">
      <soap12:operation soapAction="ZuluTrade.WebServices/GetProviderOpenTrades" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchFollowers">
      <soap12:operation soapAction="ZuluTrade.WebServices/SearchFollowers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBrokerAccountSettings">
      <soap12:operation soapAction="ZuluTrade.WebServices/GetBrokerAccountSettings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MergeSettings">
      <soap12:operation soapAction="ZuluTrade.WebServices/MergeSettings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuggestFollower">
      <soap12:operation soapAction="ZuluTrade.WebServices/SuggestFollower" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFollowerPortfolioProviders">
      <soap12:operation soapAction="ZuluTrade.WebServices/GetFollowerPortfolioProviders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHtml">
      <soap12:operation soapAction="ZuluTrade.WebServices/GetHtml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PerformanceWebService">
    <wsdl:port name="PerformanceWebServiceSoap" binding="tns:PerformanceWebServiceSoap">
      <soap:address location="http://www.zulutrade.com:81/WebServices/Performance.asmx" />
    </wsdl:port>
    <wsdl:port name="PerformanceWebServiceSoap12" binding="tns:PerformanceWebServiceSoap12">
      <soap12:address location="http://www.zulutrade.com:81/WebServices/Performance.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>